@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: #f4f4f4;
  font-family: Inter, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

img {
  display: block;
}